@model _1907FirstWebAppAtempt.Models.LoginDetials

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>

    <form method="post" asp-action="Login" >
        <div>
            <label class="LabelTxt" asp-for="UserName"> UserName </label>
            <input class="InputTxt" asp-for="UserName" />
        </div>
        <div>
            <label class="LabelTxt" asp-for="password"> password </label>
            <input class="InputTxt" asp-for="password" />
        </div>

        <input type="submit" value="Login"/>
    </form>

    <style>
        .LabelTxt {
            font-size: 20px;
            margin: 10px;
            color: green;
        }

        .InputTxt {
            font-size: 20px;
        }
    </style>

</body>
</html>
