@model IEnumerable<_1907FirstWebAppAtempt.Models.MyUser>


@{
    ViewBag.Title = "ShowAllUsers";
    // Layout = "~/Views/Shared/_Layout.cshtml";  // is not needed couse of the view start file
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllUsers</title>
</head>
<body>
    @* passed as a model *@
    @foreach (var user in Model)
    {
        <div>@user.UserName <a asp-action="Delete" asp-route-id="@user.UserId">delete user here </a>  </div>             @* using tag Helper *@
    }

    <div>- - - - -</div>

    @* passed as a ViewBag *@
    @foreach (var user in ViewBag.UsersContext)
    {
        <div>@user.UserName  @Html.ActionLink("delete user here", "Delete", new { id = user.UserId }) </div>            @* using html Helper *@

    }
</body>
</html>
